@(page: com.stys.platform.pages.impl.Page, templates: java.util.Set[String])

@import play.Logger

@main("Редактирование страницы") {

	@Logger.info(page.toString())

	<form class="form-horizontal" role="form" method="POST" action="@com.stys.platform.pages.impl.controllers.routes.Actions.save">
		<div class="form-group">
    		<label for="namespace" class="col-sm-2 control-label">Namespace</label>
    		<div class="col-sm-10">
      			<input type="text" value="@page.namespace" class="form-control" id="namespace" name="namespace" placeholder="blog, personal, etc.">
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="key" class="col-sm-2 control-label">Key</label>
    		<div class="col-sm-10">
      			<input type="text" value="@page.key" class="form-control" id="key" name="key" placeholder="path/to/my-blog-entry">
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="title" class="col-sm-2 control-label">Title</label>
    		<div class="col-sm-10">
      			<input type="text" value="@page.title" class="form-control" id="title" name="title" placeholder="My title">
    		</div>
  		</div>
  		<div class="form-group">
    		<label for="source" class="col-sm-2 control-label">Contents</label>
    		<div class="col-sm-10">
      			<textarea rows=20 class="form-control" id="source" name="source">@page.source</textarea>
    		</div>
  		</div>
  		<div class="form-group">
  			<label for="template" class="col-sm-2 control-label">Template</label>
  			<div class="col-sm-10">
  				<select class="form-control" id="template" name="template" >
				@for( t <- templates ) {
					<option @("selected".when(t.equals(page.template)))>@t</option>
  				}
				</select>
  			</div>
  		</div>
  		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-default">Save</button>
    			<a class="btn btn-default" href="@com.stys.platform.pages.impl.controllers.routes.Actions.view(page.namespace, page.key)">Discard</a>
    		</div>
  		</div>
	</form>


}

