@(title: String)(content: Html)
<!DOCTYPE html>
<html>

    <head>
		<title>@title</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		
		
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		
		<script src="@routes.Assets.at("javascripts/Markdown.Converter.js")"></script>
		<script src="@routes.Assets.at("javascripts/Markdown.Sanitizer.js")"></script>
		<script src="@routes.Assets.at("javascripts/Markdown.Editor.js")"></script>
		
		<script>
			
		</script>
		
    </head>

    <body>

		@content
		
    </body>

</html>